<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary" fxLayoutAlign="space-between center">
            <span>Menú</span>
            <button mat-icon-button
            (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <a  routerLink="./listado"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Listado de Heroes</span>
            </a>
            <a  routerLink="./agregar"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>add</mat-icon>
                <span>Añadir Héroes</span>
            </a>
            <a  routerLink="./buscar"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>search</mat-icon>
                <span>Buscar Héroes</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar fxLayoutAlign="space-between center">
        <button mat-icon-button
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Hola {{ auth.usuario }}</span>
        <button mat-button
                (click)="logout()">
            Logout
        </button>
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>